name: Test
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  units:
    name: Units
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: npm ci
    - run: npm test
